#forecast {
  margin: 0px 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 24px;
  backdrop-filter: blur(12px);
}

.daily-forecast {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.daily-forecast img {
  height: 64px;
  width: 64px;
}

.min-max {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

/* Data Attributes setting background image corresponding with weather */
[data-weather="Clouds"] {
  background-image: url("https://img.icons8.com/wired/64/000000/clouds.png");
}

[data-weather="Rain"], [data-weather="Mist"], [data-weather="Drizzle"] {
  background-image: url("https://img.icons8.com/wired/64/000000/rain.png");
}

[data-weather="Snow"] {
  background-image: url("https://img.icons8.com/wired/64/000000/snow.png");
}

[data-weather="Clear"] {
  background-image: url("https://img.icons8.com/wired/64/000000/sun.png");
}

[data-weather="Fog"] {
  background-image: url("https://img.icons8.com/wired/64/000000/fog.png");
}

[data-weather="Haze"] {
  background-image: url("https://img.icons8.com/wired/64/000000/haze.png");
}