#forecast {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.daily-forecast {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  backdrop-filter: blur(8px);
}

.daily-forecast img {
  height: 64px;
  width: 64px;
}

.min-max {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

/* Data Attributes setting background image corresponding with weather */
[data-weather="Clouds"] {
  background-image: url("https://img.icons8.com/wired/64/000000/clouds.png");
}

[data-weather="Rain"] {
  background-image: url("https://img.icons8.com/wired/64/000000/rain.png");
}

[data-weather="Snow"] {
  background-image: url("https://img.icons8.com/wired/64/000000/snow.png");
}