*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;

  background-image: url('/src/imgs/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.navbar {
  padding: 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}